<mat-sidenav-container>
  <mat-sidenav #snav mode="side" [opened]="true">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of menu" [routerLink]="item.route" >
        <mat-icon>{{ item.icon }}</mat-icon>
        <a mat-list-item [disableRipple]="true"><span [translate]="item.caption"></span></a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>power_settings_new</mat-icon>
        <a mat-list-item (click)="logout()" [disableRipple]="true"><span translate>Logout</span></a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
