mat-sidenav-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

mat-sidenav {
  display: flex;
  flex-direction: column;
}

mat-sidenav-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

mat-nav-list:last-of-type {
  margin-top: auto;
}

.mat-nav-list {
  .mat-list-item {
    &:hover,
    &.mat-list-item-focus {
      background: none;
    }
  }
}
