.mat-column-lockedUntil {
  width: 200px;
  flex: none;
}

.mat-column-options {
  width: 40px;
  flex: none;
}

.mat-fab {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

form {
  width: 300px;
}
