.trs-filter {
  margin: 8px 16px 0;
  display: block;
}

a.mat-button {
  min-width: auto;
  padding: 0;
}

.mat-column-creationDate {
  width: 150px;
  flex: none;
}

.mat-column-isConnected {
  width: 120px;
  flex: none;

  display: flex;
  justify-content: center;
}

.mat-column-options {
  width: 40px;
  flex: none;
}

.mat-fab {
  position: absolute;
  bottom: 36px;
  right: 36px;
}

form {
  width: 300px;
}

mat-list-item {
  margin: 0 -16px;

  span {
    width: 200px;
  }

  input {
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
  }
}
