<div *ngIf="result$ | async as result" class="mat-elevation-z2 trs-flex trs-column">
  <mat-form-field class="trs-filter">
    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'Filter' | translate">
  </mat-form-field>

  <div class="trs-overflow">
    <mat-table [dataSource]="result.items" matSort [matSortDisableClear]="true" matSortActive="displayName" matSortDirection="asc"
               (matSortChange)="changeSort($event)">
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef mat-sort-header><span translate>Symbolic name</span></mat-header-cell>
        <mat-cell *matCellDef="let link"><a [routerLink]="[link.id]" class="mat-button mat-primary">{{ link.displayName }}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header><span translate>User name</span></mat-header-cell>
        <mat-cell *matCellDef="let link">{{ link.userName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header><span translate>Creation date</span></mat-header-cell>
        <mat-cell *matCellDef="let link">{{ link.creationDate.format('L LTS') }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="isConnected">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let link">
          <mat-chip-list [ngSwitch]="link.connectionCount">
            <mat-chip *ngSwitchCase="0" color="warn" selected disableRipple><span translate>Offline</span></mat-chip>
            <mat-chip *ngSwitchDefault color="primary" selected disableRipple><span translate>{{ link.connectionCount }} Online</span></mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let link">
          <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{ $implicit: link }">
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
    </mat-table>
  </div>

  <mat-paginator [pageIndex]="pageRequest.pageIndex" [pageSize]="pageRequest.pageSize" [pageSizeOptions]="pageSizes"
                 [length]="result.count" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>
</div>

<button mat-fab color="primary" (click)="openCreate()">
  <mat-icon>add</mat-icon>
</button>

<mat-menu xPosition="before" #menu="matMenu">
  <ng-template matMenuContent let-link>
    <button mat-menu-item (click)="openDelete(link)">
      <mat-icon>delete</mat-icon>
      <span translate>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<trs-spinner-overlay *ngIf="submitting"></trs-spinner-overlay>

<ng-template #create let-data>
  <form #form="ngForm" [trsDialogClose]="data.link">
    <h1 mat-dialog-title translate>Create link</h1>
    <div mat-dialog-content class="trs-flex trs-column">
      <mat-form-field>
        <input name="displayName" matInput [placeholder]="'Display Name' | translate" #displayName="ngModel"
               (ngModelChange)="userName.pristine && updateUserName(data.link)"
               maxlength="250" required [(ngModel)]="data.link.displayName">
        <mat-hint align="end">{{ displayName.value?.length || 0 }}/250</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input name="userName" matInput [placeholder]="'User Name' | translate" #userName="ngModel"
               maxlength="250" required [(ngModel)]="data.link.userName" trsUserNameAvailable="link">
        <mat-hint align="end">{{ userName.value?.length || 0 }}/250</mat-hint>
        <mat-error *ngIf="userName.errors?.available" translate>The user name is already taken.</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button matDialogClose translate>Cancel</button>
      <button type="submit" mat-button color="primary" [disabled]="form.invalid || form.pending" translate>Create</button>
    </div>
  </form>
</ng-template>

<ng-template #delete let-data>
  <h1 mat-dialog-title translate>Delete link</h1>
  <div mat-dialog-content>
    <p translate [translateParams]="data.link">Do you really want to delete the link DISPLAYNAME?</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button matDialogClose translate>Cancel</button>
    <button mat-button color="warn" [matDialogClose]="data.link" translate>Delete</button>
  </div>
</ng-template>

<ng-template #credentials let-data>
  <h1 mat-dialog-title translate>Link created</h1>
  <div mat-dialog-content>
    <p translate>Your link has been created successfully. Please use the following credentials to authenticate:</p>
    <mat-list>
      <mat-list-item>
        <span translate (click)="userName.select()">User name</span>
        <input matInput readonly [value]="data.link.userName" #userName>
      </mat-list-item>
      <mat-list-item>
        <span translate (click)="password.select()">Password</span>
        <input matInput readonly [value]="data.link.password" #password>
      </mat-list-item>
    </mat-list>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button color="primary" matDialogClose (click)="copyPassword(password)" translate>Copy password</button>
  </div>
</ng-template>
