:host {
  height: 100%;
}

mat-tab-group {
  height: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 0 4px;
}

.mat-column-linkId,
.mat-column-originId {
  width: 80px;
  flex: none;
}

.mat-column-onPremiseTargetKey {
  width: 100px;
  flex: none;
}

.mat-column-httpStatusCode {
  width: 50px;
  flex: none;
  text-align: right;
}

.mat-column-contentBytesIn,
.mat-column-contentBytesOut,
.mat-column-onPremiseConnectorInDate,
.mat-column-onPremiseConnectorOutDate,
.mat-column-onPremiseTargetInDate,
.mat-column-onPremiseTargetOutDate {
  width: 80px;
  flex: none;
  text-align: right;
}
