.trs-filter {
  margin: 8px 16px 0;
  display: block;
}

.mat-column-lockedUntil {
  width: 200px;
  flex: none;
}

.mat-column-options {
  width: 40px;
  flex: none;
}

.mat-fab {
  position: absolute;
  bottom: 36px;
  right: 36px;
}

form {
  width: 300px;
}
